body {
    background-color: white;
    font-family: Inherit, Verdana;
    font-size: 2em 18px;
    color: black;
    margin-left: 30px;
    margin-right: 20px;
    text-align: left;  
     }
     h1 {
    font-family: Inherit, verdana;
    font-size: 50px;
    color: black;
    width: 80%;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 4px;
    padding-bottom: 10rem;
    color: #3f3f42;
    font-weight: 500 bolder;
    text-align: left
     }
     nav {
    margin-top: 14px;
    margin-bottom: 14px;
    padding: bold;
    padding: 50px;
    font-family: inherit, 'Times New Roman', Times, serif;
    font-size: 18px: 10em;
    color: white;
    width:60px;
    border: 1px solid red;
    border-radius: 7px;
        }
     ul {
    list-style-type: inline;
    font-family: inherit, Times, serif;
    font-size: 20px;
    margin: 25px;
        }

li {
    display: inline;
     }
a {
    display: inline;
    background-color: rgb(189, 20, 20);
    color: white;
    border: 3px solid white;
     }
button {
    padding: 20px;
    background-color: solid red  ;
    border: 9px solid  rgb(212, 28, 28);
    border-style: rounded;
    color: rgb(218, 7, 7);
    font-size: 18px, 6em;
    text-decoration: none;
    font-weight: bold;
     }

    button:hover {
    border: 8px solid rgb(228, 27, 27);
    color: rgb(207, 29, 29);
    font-size: 18px, 10em;
    text-decoration: none;
    font-weight: bold;
     }
 p {
    margin:16px 0px 24 px 16px;
    padding: 0px 0px 24px 16px;
    border:0px;
    text-align:left;
    line-height: 1.3;    
    inline-size: 57%;
    font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
    font-size: 16px;
    color: #3f3f42;
    }
    h2 {
        padding-top: 7px;
        padding-bottom: 20px;
        font-size:1rem;
        font-weight: 500 bold;
        color: rgb(63,63,66);
    }
      footer {
        width: 70%;
        border-top: 2px solid #bb1919;
        border-bottom: 2px solid #bb1919;
        margin-top: 15px;
        padding-bottom: 60px;
        margin-bottom: 40px;
     }
     img {
        width: 60%;
        height: auto;
        background-color: white;
        padding-bottom: 20px;
        margin-bottom: 30px;
      }
.france {
        width: 60%;
        }
    .comments {
            text-decoration: bold black;
            color: #bb1919
        }
        
    .comments:hover {
            text-decoration: underline 1px #bb1919;
            color: #bb1919
        }
        
    .share {
            display: inline;
            float: left;
            margin-top: -8px;
            margin-right: 2px;
        }
        
    .welcome {
            width: 80%;
            margin-top: 10px;
            margin-left: 15px;
            padding-top: 0px;
            border: 0px;     
        }
        .first  {
            font-weight: bold;
        }
.blank {
            color:wheat;  
            font-family: inherit,Arial,Helvetica,freesans,sans-serif;
            font-weight: 500; 
            font-weight: bold;
            text-decoration: underline 1px rgb(186,186,186);
            vertical-align:baseline;
            line-height: 2;
            background-color: none;
        }
        
.blank:hover {
            color:white;
            text-decoration: underline 1px black;
            }
        
.blankB {
            vertical-align:baseline;
            color:none;   
            font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
            font-weight: 500 bolder; 
            text-decoration: underline 1px rgb(7, 7, 7); 
            line-height: 1.3;
        }
        
.blankB:hover {
            color: white;
            text-decoration: underline 1px white;
        }
        
.interviewee {
            width: 70%;
            margin-left: 15px;
            margin-right: 5px;
        }
        
.interviewer {
            font-family: ReithSans,Arial,Helvetica,freesans,sans-serif; 
            font-weight: bolder;
        }
        
    .suggestion {
            font-size: 32px;
            color: #000000;
        }
        
    .relatedTopics a {
            align-items: center;
            padding: 12px; 
            margin-right: 5px;
            border: 2px solid rgb(150, 10, 10);
            font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
            font-size: 16px;
            text-decoration: none;
            color: black;
            font-weight: bold;  
        }
    .relatedTopics a:hover {
            align-items: center;
            padding: 12px; 
            margin-right: 5px;
            background-color: none;
            font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
            font-size: 16px;
            text-decoration: none;
            color: white;
            font-weight: bold;  
        }